
.banner {
	background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('../images/background.jpg'); 
	padding: 200px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
 color: #FFB536;
 text-align: right;
 padding-right: 30px;
}

