
#text-left {
	text-align: left;
}


.btn-circleorange {
	background-color: #FFB536 ;
	color: black;
	padding: 10px 15px;
	border-radius: 10px;
}


.btn-circleorange:hover {
	color: white;
    font-size: 14px;

}

.btn-rectangleorange {
    background-color: #FFB536 ;
	color: black;
	padding: 10px 

}

.btn-rectangleorange {
	border: 1px solid black;
}

.btn-rectangleorange:hover {
	color: white;
	font-size: 14px;
}


